<footer class="blue darken-1 page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text"></h5>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Diego Arturo Padilla Domínguez A01552594
      </div>
    </div>
  </footer>


<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="JS/materialize.js"></script>
</body>
</html>