@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #566b78;
}

h3 {
    color:#6495ed;
    margin-top: 1em;
    padding-top: 1em;
}

h2, strong {
  color: darkblue;
}

code,
pre {
  background: #eee;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
  border-left: 2px solid #69c;
}

a {
    color: #e81c4f;
}




  header h1 {
    color: midnightblue;
    font-size: 2.5em;
    font-weight: 300;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  }
  
  header a {
    border: 1px solid #e81c4f;
    border-radius: 290486px;
    color: white;
    font-size: 0.6em;
    letter-spacing: 0.2em;
    padding: 1em 2em;
    text-transform: uppercase;
    text-decoration: none;
    transition: none 200ms ease-out;
    transition-property: color, background;
  }
  


  header a:hover {
    background:  #e81c4f;
    color: white;
  }

  .fondo_morado{
      background-color: plum;
  }

  #titulo {
      color: red;
  }